



@media (min-width: 992px){
    .thumbnail.hf img {
        overflow: hidden;
        width: 100%;
        height: 150px !important;
    }
}
@media (max-width: 992px){
    .thumbnail.hf img {
        overflow: hidden;
        width: 100%;
        height: auto !important;
    }
}

.main {
    margin: 0 auto;
}

.h300px div {
    height: auto;
    box-sizing: border-box;
}

.h300px .plate {
    margin: 5% 1%;
    height: auto;
    padding: 5%;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.h3 {
    text-align: center;
    height: 50px !important;
    line-height: 50px !important;
}

.footer {
    margin-top: 20px;
    /* color: #777;
    padding: 30px 0;
    margin-top: 70px; */
}


.search {
    min-height: 30px;
    /* margin-top: 15px;
    padding: 5px;
    box-sizing: border-box; */
}

.mt50px {
    margin-top: 50px;
}

.mt70px {
    margin-top: 70px;
}

.mt20px {
    margin-top: 20px;
}

/* 私人订制表单 */
.input_style input {
    margin-bottom: 15px;
}

.input_style h3,
.input_style p {
    text-align: center;
}

.search div {
    margin: 15px 0;
}

.search button {
    margin: 2px;
}

img {
    transition: all .6s;
}

/* 图片缩放控制 */
.thumbnail {
    overflow: hidden;
}

.thumbnail img:hover {
    /* transform: rotate(360deg); */
}

button {
    outline: none;
}

/* 菜单栏层级需要比页面其余元素要高 */
.nav_style {
    /* opacity: .6; */
    /* position: relative; */
    z-index: 99;
}

body {
    background: linear-gradient(90deg, rgb(18, 174, 236), pink);
    /* 标准的语法（必须放在最后） */

    /* background: url(../images/about.jpg) no-repeat;
    background-size: cover; */
}

/* 文章页面控制 */
.article {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.article p {
    text-indent: 2em;
}
.article .title {
    text-align: center;
}
.article  .hots {
   margin: 25px 0;
}
.article h1 {
    font-size: 20px;
}

.article img {
    display: block;
    width: 100%;
}
.none {
    display: none;
}